.text_center {
    text-align: center;
}

.field_container {
    text-align: center;
    padding: 0px;
    width: 300px;
    margin: 0 auto;
}

.monkey_style {
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width:500px;
    max-width:500px;
}